{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{% block body %}
<h1>Main page</h1>
<h1><h1>
Fight club
</h1>
<h2>
Бійцівський клуб
</h2>
<p>
<br>Дата старту: 10 вересня 1999
<br>Країна: США, Німеччина
<br>Тривалість: 139 хв.
<br>Жанр: Драма, Кримінал
</p>
<img src="https://uakino.club/uploads/mini/poster/b4/d92529f76ff4b1d60d00b5c69e0864.jpg">
<p>
При спільному виробництві США та Німеччини фільм вийшов в прокат в 1999 році. Фільм досить жорстокий, в ньому присутні психологічні моменти, сірого реалізму і жорстоких сутичок в рингу. Екранізація вийшла вкрай хорошою, і мабуть, не розчарувала шанувальників літературного твору, адже фільм знімався за однойменною книгою Чака Паланіка. Всім глядачам сподобаються ефектні і динамічні події. А несподівана розв'язка, яку неможливо передбачити повалить в шок.
Сюжет фільму «Бійцівський клуб»: оповідачем історії є типовий яппі. Йому тридцять і він найманий робітник. Так само він мучиться від безсоння, і не може визначити де сон, а де дійсність. Замість ліків лікар йому пропонує зайнятися спортом і періодично відвідувати групу хворих на рак яєчок. Відвідування даної групи має довести оповідачеві, що таке справжня мука, і щоб він зрозумів що його безсоння в порівнянні з раком сущі дрібниці. Так само наш оповідач мріє про переломний момент, який переверне все його життя. Одного разу в барі він знайомитися з Тайлером Дeрденом, торговцем милом, який володіє значним даром ...
</p>
<a href="https://uakino.club/filmy/genre_drama/8-bycvskiy-klub.html">Докладніше про фільм...</a>
<p>
<iframe width="300" src="https://youtu.be/9OlbKbjU6z8" title="youtube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; web-share" allowfullscreen>

</iframe>
</p>
</h1>
{% endblock %}
